@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #fefefe;
    --black: #222;
    --blue: #0099E1;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
body {
    max-width: 100vw;
    background-color: var(--white);
}

a {
    color: var(--black);
    text-decoration: none;
}
nav {
    z-index: 9999;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 10%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 0px 1px #33333371;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(20px);
}
.navLogo {
    display: flex;
    align-items: center;
}
.navLogo img {
    height: 3rem;
    padding-right: 1rem;
}
.navTittle {
    font-size: 0.9rem;
    font-weight: 400;
}

.navLink a {
    font-size: 0.9rem;
    margin: 0 1rem;
    /* font-weight: 500; */
}
.navLink a:hover, .navMenu a:hover {
    color: var(--blue);
    transition: 0.1s;
}
.navMenu a {
    margin-left: 1rem;
}

#menu {
    display: none;
}
/* NAV END */


/* BERANDA  */
.beranda {
    position: relative;
    padding: 1rem 10% 0;
    height: 100vh;
    display: flex;
    align-items: center;
    color: var(--black);
    z-index: 99;
}
.beranda h1 {
    font-weight: 600;
    font-size: 4rem;
}
.beranda p {
    padding: 1rem 0;
    opacity: 0.8;
    font-size: 1.2rem;
}
span {
    color: var(--blue);
}
.cek {
    background-color: var(--blue);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 2px var(--blue) solid;
}
.cek:hover {
    border: 2px var(--black) solid;
    color: var(--black);
    background-color: var(--white);

}
.arrow {
    position: absolute;
    color: var(--black);
    opacity: 0.3;
    right: 50%;
    left: 50%;
    bottom: 10%;
}
.arrow:hover {
    color: var(--blue);
}

/* BERANDA END */

/* TAGIHAN */
.tagihan {
    position: relative;
    height: 100vh;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagihan h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem ;
    font-weight: 600;
}

.tagihan input{
    border: 2px var(--blue) solid;
    margin: 0.2rem 0 1rem 0;
    padding: 0.6rem 0;
    width: 100%; 
    font-size: 1.1rem;
    text-align: center;
    color: var(--black);
    margin-top: 0.4rem;
    border-radius: 0.3rem;
}

.tagihan button {
    border: 2px var(--blue) solid;
    background-color: var(--blue);
    color: var(--white);
    width: 100%;
    padding: 0.6rem 0;
    font-size: 1rem;
    border-radius: 0.3rem;
}

.tagihan button:hover {
    background-color: var(--white);
    color: var(--black);
    transition: 0.1s;
    cursor: pointer;
    border: 2px var(--black) solid;
}

.tagihan .bill {
    padding-top: 1rem;
}
.tagihan .tagihanVia {
    padding-top: 0.4rem;
    display: flex;
    justify-content: space-between;
}
.tagihan .tagihanVia img {
    height: 1.7rem;
}

/* TAGIHAN END */

/* PANDUAN */
.panduan {
    z-index: 80;
    /* background-color: var(--black); */
    /* height: 100vh; */
    position: relative;
    padding: 6rem 10% 0 10%;
    display: flex;
    justify-content: center;
    position: relative;
}
.panduan h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.panduan .slide img {
    height: 30rem;
}

.slide button {
    border: 2px var(--blue) solid;
    background-color: var(--blue);
    width: 8rem;
    padding: 0.6rem 0;
    font-size: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    color: var(--white);
    margin-top: 1rem;
}

.slide button:hover {
    background-color: #009ae1b7;
    border: 2px #009ae1b7 solid;
    opacity: 0.8;
    transition: 0.1s;
}

.mySlide {
    z-index: 999;
    display: none;
    transition: 0.2s;
}

.slide img:first-child {
    display: block;
}
.slide img {
    box-shadow: 1px 4px 7px #2222222a;
    /* transition: 0.2s; */
}

.prevnext {
    padding: 1rem;
    display: inline;
    position: absolute;
    top: 24rem;
    /* font-size: 25px; */
    /* font-weight: bold; */
    font-size: 1rem;
    padding: 0.5rem 1rem;
    /* margin-top: -22px; */
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
    border-radius: 0.3rem;
    border: 2px var(--blue) solid;
    /* margin: 0 1rem; */
}
.prev {
    margin-right: 25rem;
}
.next {
    margin-left: 25rem;
}

.prev:hover, .next:hover {
    background-color: #009ae1b7;
    border: 2px #009ae1b7 solid;
    opacity: 0.8;
}

.center {
    display: flex;
    justify-content: center;
}



/* PANDUAN END */

/* TENTANG */
.tentang {
    /* min-height: 100vh; */
    padding: 6rem 10% 0 10%;
    color: var(--black);
    margin-bottom: 8rem;
}
.tentang h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.tentang .container {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    
}

.tentang .container p {
    padding: 0.3rem 0;
    font-size: 1rem;
    line-height: 1.3rem;
}
.tentang .container h3 {
    /* line-height: 1.8rem; */
    font-size: 2.3rem;
    font-weight: 400;
    padding-bottom: 1rem;
}
.tentang .container img {
    width: 20rem;
}

table {
    margin: 1rem 0;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
}
th {
    padding: 0.4rem 0;
}
td {
    padding: 0.3rem 0;
}

.tentang h4 {
    padding-top: 1rem;
}
.tentang p {
    text-align: justify;
}
.kontak a:hover {
    color: var(--blue);
}
.kontak {
    align-items: center;
    padding: 1rem 0;
    display: grid;
}
.kontak i {
    font-size: 1.4rem;
    padding-right: 0.4rem;
}


/* TENTANG END */

.wave1 {
    position: absolute;
    top: 60%;
    left: -7%;
}
.wave2 {
    position: absolute;
    top: 120%;
    display: flex;
    right: 7%;
}
.wave3{
    position: absolute;
    top: -2rem;
    left: -8%;
    rotate: 180deg;
}
.wave1 img, .wave2 img,.wave3 img {
    z-index: 1;
    opacity: 0.1;
    width: 12rem;
}



/* FOOTER  */
footer {
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    font-weight: 300;
    padding: 7rem 0 3rem;
    font-size: 0.8rem;
    bottom: 0;
}

footer a {
    color: var(--white);
}
footer a:hover {
    color: var(--blue);
}

/* FOOTER END */

/* RESPONSIVE */
@media (max-width: 1010px) {
    #menu {
        display: inline;
    }
    nav .navLink {
        position: absolute;
        top: 100%;
        right: -200%;
        height: 100vh;
        width: 70%;
        background-color: #fcfcfc;
        transition: 0.2s;
        align-items: center;
        padding-top: 4rem;
    }
    nav .navLink a{
        display: block;
        font-size: 1.4rem;
        padding: 2rem 0;
    }
    nav .navLink.active {
        right: 0;
    }
    .tentang .container img {
        display: none;
    }
}




@media (max-width: 768px) {
    html {
        font-size: 90%;
    }
}
@media (max-width: 578px) {
    .navTittle, .kab {
        display: none;
    }
    .navMenu a {
        padding-left: 0;
    }
    .beranda h1 {
        font-size: 3.4rem;
    }
    .beranda p {
        font-size: 1rem;
    }

    .panduan .content .slide img {
        width: 100%;
    }
    .tagihan .bill .tagihanVia img {
        height: 1.2rem;
    }
    .kontak {
        display: grid;
    }
    .tentang .container h3 {
        font-size: 2rem;
    }
    .tentang .container p {
        font-size: 1rem;
    }
    .prevnext {
        opacity: 0.4;
    }
    .prev {
        margin-right: 20rem;
    }
    .next {
        margin-left: 20rem;
    }
    
}









